@charset "utf-8";

/* 
    Vyathan.com Style Sheet
    Matt Brundage II
    6/25/21
    Vy_Styles.css
*/

/* Main Structural Styles */

html {
    background-color: #6BA3E4;
    margin-left: 5%;
    margin-right: 5%;
}

body {
    background-color: #91C4E4;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

/* Link Styles */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    text-decoration: underline;
}

/* Horizontal Navigation */

nav > ul > li {
    display: inline;
    width: 100%;
}

/* Heading Styles */

h1 {
    color: #454A3D;
    text-align: center;
    background-color: #D5CFBF;
    font-size: 2em;
    font-variant: small-caps;
}

h2 {
    color: #454A3D;
    text-align: center;
    background-color: #D5CFBF;
    font-size: 1.75em;
    font-variant: small-caps;
}

h3 {
    color: #454A3D;
    text-align: center;
    background-color: #D5CFBF;
    font-size: 1.5em;
    font-variant: small-caps;
}

h4 {
    color: #454A3D;
    text-align: center;
    background-color: #D5CFBF;
    font-size: 1.4em;
}

h5 {
    color: #454A3D;
    text-align: center;
    background-color: #D5CFBF;
    font-size: 1.35em;
}

h6 {
    color: #454A3D;
    text-align: center;
    background-color: #D5CFBF;
    font-size: 1.25em;
}

/* Image Styles */

header > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* List Styles */

article > ul {
    list-style-type: disc;
    padding-left: 25px;
}

article > ul ul {
    list-style-type: decimal;
    padding-left: 30px;
}

/* Footer Styles */

footer {
    background-color: #D5CFBF;
    color: #454A3D;
    text-align: center;
}