@charset "utf-8";

/* 
    Vyathan.com Style Sheet
    Matt Brundage II
    Vyathan Design LLC
    6/25/21
    Vy_Styles.css
*/

/* Color Combination: Ivory - #EEEDE7, Gray - #868B8E, Pewter - #B9B7BD, Scallop Seashell - #E7D2CC */

/* Main Structural Styles */

html {
    background-color: #868B8E;
    margin-left: 5%;
    margin-right: 5%;
}

body {
    background-color: #B9B7BD;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

/* Background Image Styles */

.bg-img1 {
    background-image: url("../Imgs/pexels-pixabay-39284.jpg");
    min-height: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-img2 {
    background-image: url("../Imgs/pexels-pixabay-39284.jpg");
    min-height: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Center Div Styles */

.center-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
  }

/* Link Styles */

a:link {
    text-decoration: none;
    color: #EEEDE7;
}

a:visited {
    text-decoration: none;
    color: #E7D2CC;
}

a:active {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    text-decoration: underline;
}

/* Horizontal Navigation */

#MainMenu {
    margin: auto;
    width: 60%;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    text-align: center;
    font-size: 1.75;
    font-variant: small-caps;
    float: right;
}

#MainMenu li {
    display: block;
    width: 17%;
    float: left;
    margin-right: 1%;
    border: 1px solid #FFF;
}

#MainMenu a {
    display: block;
    padding: 1%;
    text-decoration: none;
    background-color: #384C70;
    color: #FFF;
}

#MainMenu a:hover {
    background-color: #1C438B;
    color: #fff;
}

/* Heading Styles */

h1 {
    color: #454A3D;
    text-align: center;
    background-color: #D5CFBF;
    font-size: 2em;
    font-variant: small-caps;
}

h2 {
    color: #454A3D;
    text-align: center;
    background-color: #D5CFBF;
    font-size: 1.75em;
    font-variant: small-caps;
}

h3 {
    color: #454A3D;
    text-align: center;
    background-color: #D5CFBF;
    font-size: 1.5em;
    font-variant: small-caps;
}

h4 {
    color: #454A3D;
    text-align: center;
    background-color: #D5CFBF;
    font-size: 1.4em;
}

h5 {
    color: #454A3D;
    text-align: center;
    background-color: #D5CFBF;
    font-size: 1.35em;
}

h6 {
    color: #454A3D;
    text-align: center;
    background-color: #D5CFBF;
    font-size: 1.25em;
}

/* Image Styles */

body > header > img {
    display: block;
    width: 100%;
}

/* List Styles */

article > ul {
    list-style-type: disc;
    padding-left: 25px;
}

article > ul ul {
    list-style-type: decimal;
    padding-left: 30px;
}

/* Footer Styles */

footer {
    background-color: #868B8E;
    color: #454A3D;
    text-align: center;
}