@charset "utf-8";

/* 
    Vyathan.com Style Sheet
    Matt Brundage II
    Vyathan Design LLC
    P.O. Box 313
    Six Lakes, MI 48886
    (616) 287 4725
    6/25/21
    Vy_Styles.css
*/

/* Main Structural Styles */

html {
    background-color: #D2CDB4;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1440px;
    min-width: 640px;
}

body {
    background-color: #FFF;
    font-family: 'Century Gothic', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    box-shadow: #000 15px 0px 25px,
                #000 -15px 0px 25px;
}

/* Background Image Styles */

.bg-img1 {
    position: relative; 
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-img1::before {    
      content: "";
      background-image: url('../Imgs/pexels-pixabay-39284.jpg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
}

.center-screen {
    position: relative;
    color: #000;  
    font-size: 3em;
    line-height: 0.9;
    text-align: center;
    background: transparent;
}

#Logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2em;
    display: flex;
    float: left;
}

/* Link Styles */

a:link {
    text-decoration: none;
    color: #211911;
}

a:visited {
    text-decoration: none;
    color: #211911;
}

a:active {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    text-decoration: underline;
}

/* Horizontal Navigation */

#MainMenu {
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    margin-top: 1em;
    width: 60%;
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
    font-size: 1.75;
    font-variant: small-caps;
}

#MainMenu li {
    display: block;
    width: 15%;
    float: left;
    margin-right: 1%;
    border: 1px solid #000;
}

#MainMenu a {
    display: flex;
    padding: 1%;
    text-decoration: none;
    background-color: #D2CDB4;
    color: #000;
}

#MainMenu a:hover {
    background-color: #FFF;
    color: #000;
}

/* Heading Styles */

h1 {
    color: #000;
    text-align: center;
    background-color: #FFF;
    font-size: 2em;
    font-variant: small-caps;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    color: #000;
    text-align: center;
    background-color: #FFF;
    font-size: 1.75em;
    font-variant: small-caps;
    padding-top: .5em;
    padding-bottom: .5em;
}

h3 {
    color: #000;
    text-align: center;
    background-color: #FFF;
    font-size: 1.5em;
    font-variant: small-caps;
    padding-top: .5em;
    padding-bottom: .5em;
}

h4 {
    color: #000;
    text-align: center;
    background-color: #FFF;
    font-size: 1.4em;
    padding-top: .5em;
    padding-bottom: .5em;
}

h5 {
    color: #000;
    text-align: center;
    background-color: #FFF;
    font-size: 1.35em;
    padding-top: .5em;
    padding-bottom: .5em;
}

h6 {
    color: #000;
    text-align: center;
    background-color: #FFF;
    font-size: 1.25em;
    padding-top: .5em;
    padding-bottom: .5em;
}

/* Left Column Styles */

section#LeftColumn {
    clear: left;
    float: left;
    width: 30%;
    height: 570px;
    background-color: #FFF;
    padding-top: 3%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 3%;
}

section#LeftColumn2 {
    clear: left;
    float: left;
    width: 60%;
    height: 650px;
    background-color: #FFF;
    padding-top: 3%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 3%;
}

section#LeftColumn2 img {
    display: block;
    width: 100%;
}

/* Right Column Styles */

section#RightColumn {
    float: left;
    width: 60%;
    height: 570px;
    background-color: #FFF;
    padding-top: 3%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 3%;
}

section#RightColumn img {
    display: block;
    width: 100%;
}

section#RightColumn2 {
    float: left;
    width: 30%;
    height: 650px;
    background-color: #FFF;
    padding-top: 3%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 3%;
}

/* Image Styles */

body > header > img {
    display: block;
    width: 100%;
}

/* Form Layout Styles */

form#contact {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

form#contact > fieldset {
    background-color: #D2CDB4;
    border-radius: 0px;
    -webkit-flex: 1 1 300px;
    flex: 1 1 300px;
    font-size: 16px;
    padding: 1rem;
}

div.formRow {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 1rem;
}

div.formRow > * {
    -webkit-flex: 1 1 150px;
    flex: 1 1 150px;
}

/* Legend Styles */

legend {
    background-color: #D2CDB4;
    color: #000;
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-variant: small-caps;
    border: 1px solid #000;
    padding: 5px;
}

/* Text Area Styles */

textarea {
    margin-top: 1rem;
    height: 125px;
    width: 98%;
}

/* Footer Styles */

footer {
    background-color: #B4B9D2;
    color: #211911;
    text-align: center;
    margin-top: 2em;
}